<section id="about" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="mb-4">About Me</h2>
        <p>Hello! I'm Chi Claudette Mah, a passionate Data Scientist and Software Engineer with a strong background in machine learning, data analysis, and full-stack development.</p>
        <p>I specialize in developing data-driven solutions and creating robust software applications to solve complex problems.</p>
        <h4>Education</h4>
        <ul>
          <li>M.S. in Data Science, University of Buea, 2024</li>
          <li>B.Eng. in Computer Engineering, University of Buea, 2022</li>
          <li>GCE Advanced level in Science, Government Bilingual High School Tiko, 2018</li>
          <li>GCE Ordinary level in Science, Government Bilingual High School Tiko, 2015</li>
        </ul>
        <h4>Professional Experience</h4>
        <ul>
          <li>Data Scientist at [Company Name], [Start Year] - Present</li>
          <li>Software Engineer at Jan IT Solutions, [Start Year] - [End Year]</li>
          <li>Software Engineer Intern at Go Groups, [Start Year] - [End Year]</li>
          <li>Software Engineer Intern at Jongo Hub, [Start Year] - [End Year]</li>
        </ul>

        <h4>Certifications</h4>
        <p>List the image and name of the certificates</p>
      </div>
    </div>
  </div>
</section>

